<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0d141c]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 42.4379C4 42.4379 14.0962 36.0744 24 41.1692C35.0664 46.8624 44 42.2078 44 42.2078L44 7.01134C44 7.01134 35.068 11.6577 24.0031 5.96913C14.0971 0.876274 4 7.27094 4 7.27094L4 42.4379Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em]">ntkrv.dev</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Projects</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDey3BrZdFrzY70F_K43eN33w8V_zkbLlXG2ytCtXq9pzePNXdYwpMwS7VDXigWwoB1f1-fzCT3F2_9-_dlvZfqwiqfevWzLphdWm19cfhKkL-S8KcT3Qjj4XcsLfOimttw8hgArH2SDP0-6YIkRLgoiRqMBCotpvLXb6eKMapcPQSgm8JyyQDLaFzOljEtBPPWkq84np4Gig_nPRapLnLtq_tlEbPAsDccXHqlZOh44HeAe3TtvhjJAyupQqPxbWfAGnP6noBWYfas");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <h1 class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3 pt-6">Nicolas Tokariev</h1>
            <p class="text-[#0d141c] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Data Analyst with a passion for uncovering insights from complex datasets. Experienced in leveraging statistical modeling, machine learning, and data visualization
              techniques to drive informed decision-making.
            </p>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Skills</h2>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">SQL</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Python</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">R</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Tableau</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Power BI</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Statistical Modeling</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Machine Learning</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Data Visualization</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Data Mining</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#e7edf4] pl-4 pr-4">
                <p class="text-[#0d141c] text-sm font-medium leading-normal">Data Wrangling</p>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Projects</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#0d141c] text-base font-bold leading-tight">Customer Segmentation Analysis</p>
                  <p class="text-[#49719c] text-sm font-normal leading-normal">
                    Utilized K-means clustering to segment customers based on purchasing behavior, enabling targeted marketing campaigns and improved customer retention.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAYY8MIu-kaKT0OVSf5RlttjNP50Sif_Qg-qxMebFzWJSQcaro3x1mlXfeQ0msFdG_GiTKRDUA81tzNtv_FQ72PH_l3Z6P5CGRiChOPT3aKeydYpbwnAoqnWLxl6JjPL-FAyrNS7Gkhd2k8ApaFIH2DAp7SwY_-nwgG1QlY3iRvs0CEtcvzbTyob482cYgIY4hbc0UlEMulVy_sUUf85pl6Nq8q6vhuj5s5ZytzIx7U4t3imnt6j-YYSAAYZ_XVonqt2kKnd1ovdI1y");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#0d141c] text-base font-bold leading-tight">Sales Forecasting Model</p>
                  <p class="text-[#49719c] text-sm font-normal leading-normal">
                    Developed a time series forecasting model using ARIMA to predict future sales trends, optimizing inventory management and resource allocation.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCZqbPU_K7fym9GiVxVv1OHSABXtDW-SOdWhagkteqVMv-_-olR9-vgGzULLJ4GkKLso2DSnwW17YCI2fYtEk0RNzPWNv89sEhv3LSy8GsCr3BwN9m2zHUArexdpGE5LWx04G7KOAe_t43APE0v7iHiw37t15oXe0rHp2pgA8n2d4EwYfuppC2Yd3oDX78qclbeYqWJaIgtFYOpcHjIgDPESJ8qm4_uTc2gouyPx5L85eHQcLtQREcE74XweHdfE7CGE7Uu0O_WL_kj");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#0d141c] text-base font-bold leading-tight">Churn Prediction Model</p>
                  <p class="text-[#49719c] text-sm font-normal leading-normal">
                    Built a logistic regression model to identify customers at risk of churn, allowing for proactive intervention strategies to minimize customer attrition.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCE6U0nSnJcQ0gT9jmtLQAQB58Dh03Apl3Ay53Bri_-OQHlKQLvYm6-PBILA-57dzwsycvTbxRwwCYYaHMU24UxjjbToT5QLSnGmlZzQAcAcu90qxyfn4HeJvAMaJBMyv-nb6vRVXmT2nGpSPDP--mD2576aWfpX7TdcNyuTYFfa9NSW9Cb2Zz1-tV-iMbO6t3y5RopEnJxfSdYYOd6ZNL7vlK5oAwxJM7i0cWZ8rxlQpvUadgJ00mShOsYwcKXvdH-eDIxuSWc_Bld");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
